$color-text: #FFFFFF;
$color-subtext: #787878;
$bg-main: #0D0F23;
$bg-sidebar: #111536;
$bg-button1: #FA1F60;
$bg-button2: #28007A;
$bg-card: #1B214F;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    color: $color-text;
}

.mainWrap {
    display: flex;
    flex-direction: row;
    height: 100dvh;

    .mainItem {
        flex: 0 1 auto;
    }

    .navigation {
        flex: 0 0 72px;
        background-color: $bg-sidebar;
        padding-top: 70px;
        display: flex;
        justify-content: center;

        .menu {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            gap: 28px;

            a {
                text-decoration: none;

                .icon {
                    font-size: 20px;
                }
            }
        }
    }

    .mainContent {
        font-family: "Poppins", sans-serif;
        background-color: $bg-main;
        flex: 1 2 100%;
        padding: 80px 56px 0 56px;
        min-width: 450px;

        .contentWrap {
            display: flex;
            flex-direction: column;

            .contentInfo {
                display: flex;
                justify-content: space-between;
                background: linear-gradient(162.34deg, #161A42 22.61%, rgba(22, 26, 66, 0) 118.29%);
                border: 2px solid $bg-button2;
                border-radius: 16px 0 0 16px;
                border-right: none;

                .infoText {
                    flex: 1 2 100%;
                    padding: 32px;

                    h3 {
                        font-size: 24px;
                        font-weight: 600;
                        line-height: 36px;
                    }

                    p {
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 24px;
                        color: $color-subtext;
                        margin: 8px 0 20px;
                    }

                    .btns {
                        width: 260px;
                        display: flex;
                        justify-content: space-between;

                        .btn {
                            width: 120px;
                            height: 48px;
                            border-radius: 24px;
                            font-size: 16px;
                            cursor: pointer;
                            outline: none;
                        }

                        .activBtn {
                            background-color: $bg-button1;
                            border: 2px solid $bg-button1;
                            box-shadow: 6px 10px 16px 0px #5C5BF633;

                        }

                        .basicBtn {
                            background-color: rgba($color: #fff, $alpha: 0);
                            border: 2px solid $color-text;
                        }
                    }
                }
            }

            .contentFriends {
                margin-top: 30px;

                .userList {
                    display: flex;
                    gap: 40px;
                    overflow-x: scroll;

                    .user {
                        display: flex;
                        gap: 12px;
                        align-items: center;
                        width: 200px;
                        min-width: 200px;
                        padding: 20px 0;

                        .img {
                            width: 60px;
                            height: 60px;
                            border-radius: 50%;
                            overflow: hidden;
                        }

                        h4 {
                            font-size: 16px;
                            font-weight: 700;
                            line-height: 24px;
                        }

                        span {
                            font-size: 12px;
                            font-weight: 500;
                            line-height: 24px;
                            color: $color-subtext;
                        }
                    }
                }

                .userList::-webkit-scrollbar {
                    height: 4px;
                }

                .userList::-webkit-scrollbar-track {
                    background: #A19D9F3B;
                    border-radius: 20px;
                }

                .userList::-webkit-scrollbar-thumb {
                    background-color: $bg-button1;
                    border-radius: 20px;
                }
            }

            .contentProjects {
                margin-top: 35px;

                .headProject {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 15px;

                    h4 {
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 32px;
                    }

                    .btns {
                        display: flex;
                        gap: 10px;

                        a {
                            text-decoration: none;
                            font-size: 16px;
                            font-weight: 500;
                            color: #A2A6D0;
                            ;
                        }
                    }
                }

                .cardsProjects {
                    display: flex;
                    justify-content: center;
                    gap: 36px;
                    flex-wrap: wrap;

                    .card {
                        padding: 12px;
                        background-color: $bg-card;
                        border-radius: 16px;

                        div {
                            position: relative;

                            .project {
                                border-radius: 8px;
                            }

                            .autor {
                                position: absolute;
                                z-index: 2;
                                border-radius: 50%;
                                right: 10px;
                                bottom: -15px;
                            }
                        }


                        .nameProject {
                            padding: 14px 4px;
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 24px;
                        }

                        .viev {
                            display: flex;
                            justify-content: space-between;
                            padding: 4px;
                            font-size: 14px;
                            font-weight: 600;
                            line-height: 20px;
                            letter-spacing: 0.02em;
                        }

                        button {
                            background-color: rgba($color: #FFFFFF, $alpha: 0);
                            border: 2px solid $color-text;
                            font-size: 15px;
                            font-weight: 500;
                            padding: 6px 40px;
                            border-radius: 40px;
                            box-shadow: 0px 13px 17px 0px #8CD56933;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    .sideBar {
        flex: 0 0 370px;
        background-color: $bg-sidebar;
        padding: 40px 27px;
        font-family: "DM Sans", sans-serif;

        .sidebarHeader {
            display: flex;
            align-items: center;
            padding-bottom: 25px;
            border-bottom: 1px solid #C6C7CA33;
            gap: 12px;

            .img {
                width: 30px;
                height: 30px;
                border-radius: 50px;
                overflow: hidden;
            }
        }

        .details {
            .detailsHeader {
                padding: 45px 0;
                display: flex;
                justify-content: space-between;

                .title {
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 23.44px;
                    letter-spacing: -0.04em;
                }

                .icon-arrow-left,
                .icon-dots {
                    cursor: pointer;
                }

            }

            .detailsImg {
                position: relative;
                left: 50%;
                transform: translate(-50%, 0);
                margin-bottom: 65px;
            }

            .detailsWrap {
                display: flex;
                flex-direction: column;

                h4 {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 20.83px;
                    letter-spacing: -0.04em;
                }

                span {
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 15.62px;
                    letter-spacing: -0.04em;
                    color: $color-subtext;
                    padding: 10px 0 25px;
                }

                .course {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .coursInfo {
                        display: flex;
                        align-items: center;
                        gap: 12px;

                        img {
                            border-radius: 50%;
                        }

                        p {
                            font-size: 14px;
                            font-weight: 700;
                            line-height: 18.23px;
                            letter-spacing: -0.04em;
                        }
                    }

                    button {
                        border: 2px solid $color-text;
                        background-color: rgba($color: #FFFFFF, $alpha: 0.0);
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 20.83px;
                        letter-spacing: -0.04em;
                        padding: 10px 30px;
                        cursor: pointer;
                        border-radius: 30px;
                    }

                }

                .descriptionWrap {
                    margin-top: 35px;

                    h4 {
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 26.04px;
                        letter-spacing: -0.04em;
                    }

                    p {
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: -0.03em;
                        color: $color-subtext;
                        padding: 12px 0 40px;
                    }
                }

                .contact {
                    margin: 0 auto;
                    width: fit-content;
                    padding: 15px 90px;
                    border-radius: 40px;
                    background-color: $bg-button1;
                    border: 2px solid $bg-button1;
                    font-size: 16px;
                    font-weight: 500;
                    cursor: pointer;
                }
            }

        }

    }
}