$color-text: #FFFFFF;
$color-subtext: #787878;
$bg-main: #0D0F23;
$bg-sidebar: #111536;
$bg-button1: #FA1F60;
$bg-button2: #28007A;
$bg-card: #1B214F;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
}

.mainWrap {
    display: flex;
    flex-direction: row;
    height: 100dvh;

    .mainItem {
        flex: 0 1 auto;
    }

    .navigation {
        flex: 0 0 72px;
        background-color: $bg-sidebar;
        padding-top: 70px;
        display: flex;
        justify-content: center;

        .menu {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            gap: 28px;

            a {
                text-decoration: none;

                .icon {
                    font-size: 20px;
                }
            }
        }
    }

    .mainContent {}

    .sideBar {
        flex: 0 0 370px;
        background-color: $bg-sidebar;
        padding: 40px 27px;
    }
}