* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
}

.mainWrap {
  display: flex;
  flex-direction: row;
  height: 100dvh;
}
.mainWrap .mainItem {
  flex: 0 1 auto;
}
.mainWrap .navigation {
  flex: 0 0 72px;
  background-color: #111536;
  padding-top: 70px;
  display: flex;
  justify-content: center;
}
.mainWrap .navigation .menu {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.mainWrap .navigation .menu a {
  text-decoration: none;
}
.mainWrap .navigation .menu a .icon {
  font-size: 20px;
}
.mainWrap .sideBar {
  flex: 0 0 370px;
  background-color: #111536;
  padding: 40px 27px;
}