* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  color: #FFFFFF;
}

.mainWrap {
  display: flex;
  flex-direction: row;
  height: 100dvh;
}
.mainWrap .mainItem {
  flex: 0 1 auto;
}
.mainWrap .navigation {
  flex: 0 0 72px;
  background-color: #111536;
  padding-top: 70px;
  display: flex;
  justify-content: center;
}
.mainWrap .navigation .menu {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.mainWrap .navigation .menu a {
  text-decoration: none;
}
.mainWrap .navigation .menu a .icon {
  font-size: 20px;
}
.mainWrap .mainContent {
  font-family: "Poppins", sans-serif;
  background-color: #0D0F23;
  flex: 1 2 100%;
  padding: 80px 56px 0 56px;
  min-width: 450px;
}
.mainWrap .mainContent .contentWrap {
  display: flex;
  flex-direction: column;
}
.mainWrap .mainContent .contentWrap .contentInfo {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(162.34deg, #161A42 22.61%, rgba(22, 26, 66, 0) 118.29%);
  border: 2px solid #28007A;
  border-radius: 16px 0 0 16px;
  border-right: none;
}
.mainWrap .mainContent .contentWrap .contentInfo .infoText {
  flex: 1 2 100%;
  padding: 32px;
}
.mainWrap .mainContent .contentWrap .contentInfo .infoText h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}
.mainWrap .mainContent .contentWrap .contentInfo .infoText p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #787878;
  margin: 8px 0 20px;
}
.mainWrap .mainContent .contentWrap .contentInfo .infoText .btns {
  width: 260px;
  display: flex;
  justify-content: space-between;
}
.mainWrap .mainContent .contentWrap .contentInfo .infoText .btns .btn {
  width: 120px;
  height: 48px;
  border-radius: 24px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}
.mainWrap .mainContent .contentWrap .contentInfo .infoText .btns .activBtn {
  background-color: #FA1F60;
  border: 2px solid #FA1F60;
  box-shadow: 6px 10px 16px 0px rgba(92, 91, 246, 0.2);
}
.mainWrap .mainContent .contentWrap .contentInfo .infoText .btns .basicBtn {
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #FFFFFF;
}
.mainWrap .mainContent .contentWrap .contentFriends {
  margin-top: 30px;
}
.mainWrap .mainContent .contentWrap .contentFriends .userList {
  display: flex;
  gap: 40px;
  overflow-x: scroll;
}
.mainWrap .mainContent .contentWrap .contentFriends .userList .user {
  display: flex;
  gap: 12px;
  align-items: center;
  width: 200px;
  min-width: 200px;
  padding: 20px 0;
}
.mainWrap .mainContent .contentWrap .contentFriends .userList .user .img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}
.mainWrap .mainContent .contentWrap .contentFriends .userList .user h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.mainWrap .mainContent .contentWrap .contentFriends .userList .user span {
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  color: #787878;
}
.mainWrap .mainContent .contentWrap .contentFriends .userList::-webkit-scrollbar {
  height: 4px;
}
.mainWrap .mainContent .contentWrap .contentFriends .userList::-webkit-scrollbar-track {
  background: rgba(161, 157, 159, 0.231372549);
  border-radius: 20px;
}
.mainWrap .mainContent .contentWrap .contentFriends .userList::-webkit-scrollbar-thumb {
  background-color: #FA1F60;
  border-radius: 20px;
}
.mainWrap .sideBar {
  flex: 0 0 370px;
  background-color: #111536;
  padding: 40px 27px;
  font-family: "DM Sans", sans-serif;
}
.mainWrap .sideBar .sidebarHeader {
  display: flex;
  align-items: center;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(198, 199, 202, 0.2);
  gap: 12px;
}
.mainWrap .sideBar .sidebarHeader .img {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  overflow: hidden;
}
.mainWrap .sideBar .details .detailsHeader {
  padding: 45px 0;
  display: flex;
  justify-content: space-between;
}
.mainWrap .sideBar .details .detailsHeader .title {
  font-size: 18px;
  font-weight: 500;
  line-height: 23.44px;
  letter-spacing: -0.04em;
}
.mainWrap .sideBar .details .detailsHeader .icon-arrow-left,
.mainWrap .sideBar .details .detailsHeader .icon-dots {
  cursor: pointer;
}
.mainWrap .sideBar .details .detailsImg {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-bottom: 65px;
}
.mainWrap .sideBar .details .detailsWrap {
  display: flex;
  flex-direction: column;
}
.mainWrap .sideBar .details .detailsWrap h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 20.83px;
  letter-spacing: -0.04em;
}
.mainWrap .sideBar .details .detailsWrap span {
  font-size: 12px;
  font-weight: 500;
  line-height: 15.62px;
  letter-spacing: -0.04em;
  color: #787878;
  padding: 10px 0 25px;
}
.mainWrap .sideBar .details .detailsWrap .course {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainWrap .sideBar .details .detailsWrap .course .coursInfo {
  display: flex;
  align-items: center;
  gap: 12px;
}
.mainWrap .sideBar .details .detailsWrap .course .coursInfo img {
  border-radius: 50%;
}
.mainWrap .sideBar .details .detailsWrap .course .coursInfo p {
  font-size: 14px;
  font-weight: 700;
  line-height: 18.23px;
  letter-spacing: -0.04em;
}
.mainWrap .sideBar .details .detailsWrap .course button {
  border: 2px solid #FFFFFF;
  background-color: rgba(255, 255, 255, 0);
  font-size: 16px;
  font-weight: 500;
  line-height: 20.83px;
  letter-spacing: -0.04em;
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 30px;
}
.mainWrap .sideBar .details .detailsWrap .descriptionWrap {
  margin-top: 35px;
}
.mainWrap .sideBar .details .detailsWrap .descriptionWrap h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 26.04px;
  letter-spacing: -0.04em;
}
.mainWrap .sideBar .details .detailsWrap .descriptionWrap p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.03em;
  color: #787878;
  padding: 12px 0 40px;
}
.mainWrap .sideBar .details .detailsWrap .contact {
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 90px;
  border-radius: 40px;
  background-color: #FA1F60;
  border: 2px solid #FA1F60;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}